{% extends 'base.html.twig' %}



{% block body %}
    <div id="hero" class="jumbotron jumbotron-fluid">
        <div class="row p-5">
        <div class="col-md-5 offset-md-6">
        <div class="row p-5">
            <div class="col m-3" >
                <p class="display-6 center primary-font">"Qui plante un jardin, plante le bonheur."</p>
            </div>
        </div>
        <div class="row p-5 d-flex justify-content-center">
            <div class="col d-flex justify-content-center" >
                <a  class="btn button m-5" href="{{ path('product_customer_index') }}">Entrez c'est tout vert</a>
            </div>
        </div>
        </div>
        </div>           
    </div>
        <h1 class="center title m-5">"Plantes d'atmosph'air"</h1>
        <h2 class="center primary-font m-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6 d-flex flex-column justify-content-around">
                <div>
                    <h3 class="primary-font">Sed ut perspiciatis</h3>
                    <p class="fst-italic">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur. </p>
                </div>
                <div>
                    <h3 class="primary-font">Sed ut perspiciatis</h3>
                    <p class="fst-italic">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur. </p>
                </div>
                <div>
                    <h3 class="primary-font">Sed ut perspiciatis</h3>
                    <p class="fst-italic">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur. </p>
                </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <img class="w-100" src="{{ asset('assets/img/palmier.jpg')}}" alt="Palmier" >

                </div>
            </div>
        </div>
        <div class="row">  
            <div class="col-sm-12 col-md-6 ">
                <img class="w-100" src="{{ asset('assets/img/socculente.jpg')}}" alt="socculente" >

            </div>
            <div class="col-sm-12 col-md-6 d-flex flex-column justify-content-around">
               <div>
                    <h3 class="primary-font">Sed ut perspiciatis</h3>
                    <p class="fst-italic">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur. </p>
                </div>
                <div>
                    <h3 class="primary-font">Sed ut perspiciatis</h3>
                    <p class="fst-italic">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur. </p>
                </div>
                <div>
                    <h3 class="primary-font">Sed ut perspiciatis</h3>
                    <p class="fst-italic">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur. </p>
                </div>
            
            </div> 
        </div>        
    </div>
    <div class="container-fluid">
        <h2 class="center primary-font m-5">Snap photos and share like never before.</h2>
        <div class="row">
            <div class="col-sm-12 col-md-6 mb-5">
                <h3 classe="primary-font">Sed ut perspiciatis</h3>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.</p>
                <a href="#" class="btn button">Voir plus</a>
            </div>
            <div class="col-sm-12 col-md-6 mb-5">
                <h3 classe="primary-font">Sed ut perspiciatis</h3>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.</p>
                <a href="#" class="btn button">Voir plus</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 mb-5">
                <h3 classe="primary-font">Sed ut perspiciatis</h3>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.</p>
                <a href="#" class="btn button">Voir plus</a>
            </div>
            <div class="col-sm-12 col-md-6 mb-5">
                <h3 classe="primary-font">Sed ut perspiciatis</h3>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.</p>
                <a href="#" class="btn button">Voir plus</a>
            </div>
        </div>
    </div>
    
    
{% endblock %}
