{% extends 'base.html.twig' %}



{% block body %}
    <div id="hero" class="jumbotron jumbotron-fluid">
        <div class="row p-5">
        <div class="col-md-5 offset-md-6">
        <div class="row p-5">
            <div class="col m-3" >
                <p class="display-6 center primary-font">"Qui plante un jardin, plante le bonheur."</p>
            </div>
        </div>
        <div class="row p-5 d-flex justify-content-center">
            <div class="col d-flex justify-content-center" >
                <a  class="btn button m-5" href="{{ path('product_index') }}">Entrez c'est tout vert</a>
            </div>
        </div>
        </div>
        </div>           
    </div>
    <h1 class="center primary-font">"Plantes d'atmosph'air"</h1>

    
{% endblock %}
