<nav class="navbar navbar-expand-lg secondary-bg">
  <div class="container-fluid">
    <div class="collapse navbar-collapse d-flex justify-content-around" id="navbarText">
     <div class="nav-item">
          <a class="navbar-brand " href="#">
      <img src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24">
      </a>
        </div>
        <div class="nav-item">
          <a class="nav-link active primary-font" aria-current="page" href="{{ path('product_index') }}">Produits</a>
        </div>
        <div class="nav-item">
          <a class="nav-link primary-font" href="{{ path('product_new')}}">Ajouter</a>
        </div>
         <div class="nav-item">
          <a class="nav-link primary-font" href="#">Retour</a>
        </div>
        
    </div>
  </div>
</nav>