@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&display=swap');


body
{
    font-family: 'Playfair Display', serif;
    background-color:#ebeff2 ;
    object-fit: cover;
    max-width: 100%;

   
}

.grey
{
    color: #313d4f !important;
}

.blue
{
    color: #4287f5;
}

.green
{
    color: #21400b;
}

.fa-star{
    color: #f3a712;
}

.alert-isSuccessful
{
    background-color: #3a7d4465;    
}

.alert-notSucced
{
    background-color: #ef29178e;
}

.title
{
    font-style: italic;
    color: #21400B;
    font-weight: 600;
}

.primary-bg
{
    background-color: #ebeff2;
}

.secondary-bg
{
    background-color: #bfa095;
}

.tertiary-bg
{
    background-color: #21400B; 
}

.primary-font
{
    color: #21400B;
}

.secondary-font
{
    color: #ebeff2;
}

.pad12
{
    padding: 12px;
}

.pad-y-12
{
    padding-left: 12px;
    padding-right: 12px;
}

.button
{
    background-color: rgba(119, 166, 50, 0.75);
    color: #ffffff;
    font-style: italic;
}

.button:hover{
    background-color: rgba(33, 64, 11, 1);
    color: #ffffff;
    font-style: italic;
    

}

a{ 
    color: #21400B;
    text-decoration: none;
}




a:hover , .nav-link:hover
{
    color:rgba(33, 64, 11, 0.5);
}

#admin  .nav-link:hover
{
    color: #bfa095 !important;
}

#hero{
    background-image: url('../img/hero.jpg') !important;
    background-size: cover;
   
    font-style: italic;
}
 @media only screen and (min-width: 1200px) {
    #hero{
        height: 90vh;
    }
}

.center
{
    text-align: center;
}

#hero .button
{
    font-size: larger;
}

.imgHome
{
    overflow: hidden !important;
    object-fit: cover !important;
}

#thanks{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
    font-style: italic;
}
footer
{
    background-color: rgba(191, 160, 149, 0.16);
}

.contact
{
    background-color: rgba(123, 166, 94, 0.14);
}
.names
{
    width: 50%;
}

.hidden
{
    overflow: hidden;
}

.cardProduct
{
    width: 255px;
}

.card-header
{
    height:240px;
    overflow: hidden;
}

.imageCard
{
    width: -moz-available;
}

#filterByName
{
    max-width: 50%;
}

.layout-product
{
    margin-right: 10%;
    margin-left: 10%;
}

.productName > h1, .productName > a
{
    margin-right: 5%;
}

.show-product
{
    max-height: 450px;
    object-fit: cover;
    object-position: center;
}
 .productName
 {
     flex:content;
 }

 /** devices **/
 .navbar-mobile{
    background: #21400b;
    border-radius: 12px 12px 0px 0px;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    max-width:100%;
    height:60px;
    padding: 4px;
    display: none !important;
  }
  .only-mobile
  {
      display: none;
  }

  @media only screen and (max-width: 1200px) {
    .navbar-mobile, .only-mobile{
      display: flex !important;
    }
    
    .only-desktop{
        display: none;
    }

  }

  .navbar-mobile-item{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
    color: #C9CDE4;
   
    padding: 4px 8px;
    cursor: pointer;
  }
  .navbar-mobile-item-active{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    align-items: center;
    color: #C9CDE4;
    margin-left: 6px;
    margin-right: 6px;
    background: rgba(119, 166, 50, 0.75);
    border-radius: 14px;
    color: #FFFFFF;
    padding: 4px 8px;
    cursor: pointer;
  }

  @media only screen and (max-width: 500px) {
    .intro{
        margin-top:150px;
    }
}

.imageProductCart
{
    max-width: 80px;
    border-radius: 25%;
}

.wCart{
    width: 20%;
}

.cart{
    padding: 20px;
    background-color: #FFFFFF;
    max-width: 90%;
}

@media only screen and (max-width: 500px) {
    .wCart{
        width: auto;
    }
}

.aminHome
{
    padding: 90px;
    background-color: #21400b;
    color: #ebeff2;
    font-size: xxx-large;
    border-radius: 25%;
    margin: 20px;

    text-align: center;
    
    
}

.aminHome:hover{
    color: rgba(119, 166, 50, 0.75);;
}
