@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;0,700;1,400&display=swap');

body
{
    font-family: 'Playfair Display', serif;
    background-color:#ebeff2 ;
}

.title
{
    font-style: italic;
    color: #21400B;
    font-weight: 600;
}

.primary-bg
{
    background-color: #ebeff2;
}

.secondary-bg
{
    background-color: #bfa095;
}

.tertiary-bg
{
    background-color: #21400B; 
}

.primary-font
{
    color: #21400B;
}

.secondary-font
{
    color: #ebeff2;
}

.button
{
    background-color: rgba(119, 166, 50, 0.75);
    color: #ffffff;
    font-style: italic;
}

.button:hover{
    background-color: rgba(33, 64, 11, 1);
    color: #ffffff;
    font-style: italic;
    

}

a{ 
    color: #21400B;
    text-decoration: none;
}




a:hover , .nav-link:hover
{
    color:rgba(33, 64, 11, 0.5);
}

#admin  .nav-link:hover
{
    color: #bfa095 !important;
}

#hero{
    background-image: url('../img/hero.jpg') !important;
    background-size: cover;
    height: 90vh;
    font-style: italic;
}

.center
{
    text-align: center;
}

#hero .button
{
    font-size: larger;
}

.imgHome
{
    overflow: hidden !important;
    object-fit: cover !important;
}

#thanks{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
    font-style: italic;
}
footer
{
    background-color: rgba(191, 160, 149, 0.16);
}

.contact
{
    background-color: rgba(123, 166, 94, 0.14);
}
.names
{
    width: 50%;
}

.hidden
{
    overflow: hidden;
}