<form method="post" action="{{ path('orderdetails_delete', {'id': orderdetail.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ orderdetail.id) }}">
    <button class="btn">Delete</button>
</form>
