{% extends 'base.html.twig' %}

{% block title %}New Orderdetails{% endblock %}

{% block body %}
    <h1>Create new Orderdetails</h1>

    {{ include('orderdetails/_form.html.twig') }}

    <a href="{{ path('orderdetails_index') }}">back to list</a>
{% endblock %}
