{% apply inline_css %}
<style>
h1 {
color:#21400b;
}
h3 {
color:rgba(119, 166, 50, 0.75);
}
</style>
{% endapply %}

<h1>Message contact client</h1>
<hr>

<hr>
<h3>Informations client</h3>

<br>
<p><strong>Identitée : {{ nom }}  {{ prenom }}</strong></p>
<br>

<br>
<p><strong>Email : {{ mail }}</strong></p>
<br>

<hr>
<h3>Contenu du message</h3>
<br>
<p>{{ content }}</p> 