
<div class="footer d-flex align-items-center ">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <a class="btn btn-link">Mentions Légales</a>
            <a class="btn btn-link">CGV</a>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="container"> 
                <div class="card contact">
                    <div class="card-header">
                        <h3 class="text-center primary-font">Formulaire de contact</h3>
                    </div>
                    <form class="d-flex flex-column p-3" action="{{ path('send_mail_contact')}}" method="POST">
                        <div class="d-flex">
                        <input name='prenom' type="text" placeholder="Prenom">
                        <input name='nom' type="text" placeholder="Nom">
                        </div>
                    
                        <input name='mail' type="email" placeholder="contact@mail.fr">
                        <textarea name='content' type="text" placeholder="Votre message ici"></textarea>
                        <button class="button" type='submit'>envoyer</button>
                    
                    </form>
                </div>
            </div> 
        </div>
    </div>
</div>

 
