
<div class="bg-dark footer d-flex align-items-center justify-content-around">
    <div class="row">
        <div class="col-6">
            <a class="btn btn-link">Mentions Légales</a>
            <a class="btn btn-link">CGV</a>
        </div>
        <div class="col 6">
            <div class="container py-5"> 
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Formulaire de contact</h3>
                    </div>
                    <form action="{{ path('send_mail_contact')}}" method="POST">
                        <input name='mail' type="email">
                        <input name='content' type="text">
                        <button type='submit'>envoyer</button>
                    </form>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div
 
