<div class="container-fluid secondary-bg only-mobile justify-content-center align-items-center">
        <a class="navbar-brand " href="{{ path('home')}}">
            <img src="{{ asset('assets/img/logo.png')}}" alt="Logo atmosphere" >
        </a>
   
</div>