<form method="post" action="{{ path('admin_orderbuy_delete', {'id': orderbuy.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ orderbuy.id) }}">
    <button class="btn"><i class="fas fa-trash-alt"></i>Supprimer</button>
</form>
