{% extends 'base.html.twig' %}

{% block title %}New Orderbuy{% endblock %}

{% block body %}
    <h1>Create new Orderbuy</h1>

    {{ include('orderbuy/_form.html.twig') }}

    <a href="{{ path('orderbuy_index') }}">back to list</a>
{% endblock %}
