{% extends 'admin_home/base_admin.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <h1>Edit Product</h1>

    {{ include('admin_home/product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('product_index') }}">back to list</a>

    {{ include('admin_home/product/_delete_form.html.twig') }}
{% endblock %}
