{% extends 'admin_home/base_admin.html.twig' %}
{% block title %}New Product{% endblock %}

{% block body %}
    <h1>Create new Product</h1>
    {% include "shared/_messages_flash.html.twig" %}
    {{ include('admin_home/product/_form.html.twig') }}

    <a href="{{ path('product_index') }}">back to list</a>
{% endblock %}
